.app {
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column
}

main {
  width: 100%;
  margin-top: 58px;
  padding-top: 16px;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
}

.map-container {
  position: absolute;
  height: calc(100% - 80px);
  width: 100%;

}

.news--container {

}

.header__title, .header__title:hover{
  text-decoration: none;
  color: #fff;
}

.news--landing h2 {
  font-size: 40px;
  padding-top: 10px;
  line-height: 1.04;
  margin: 0;
}

.news--landing img {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.news--landing h2 div {
  font-size: 16px;

  line-height: 1.5;
  color: #5D4037;
}

.news--landing__description {
  margin-top: 31px;
  font-size: 21px;
  line-height: 1.58;
}

.news--landing {

}

.login--form {
  width: calc(100% - 40px);
  height: auto;
  min-height: 400px;
  max-width: 550px;
}

.login--form__brand {
  background-color: #ECEFF1;
  line-height: 80px;
  display: inline-block;
  vertical-align: middle;
  width: 100%
}

.login--form__brand h2 {
  margin: 0;
  top: 10px;
  padding: 16px;
  color: #4E342E;
  font-size: 35px;
}

.login--form__inputs {
  width: calc(100% - 40px);
}

.form--error {
  position: relative;
  margin-top: 15px;
  bottom: 15px;
  font-size: 16px;
  line-height: 16px;
  color: rgb(244, 67, 54);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

@media only screen and (min-width: 550px) {
  main {
    width: 550px;
    margin-left: auto;
    margin-right: auto;

  }
}

@media only screen and (min-width: 768px) {
  main, .map-container {
    margin-left: auto;
    margin-right: auto;
    width: 720px;
  }

}

@media only screen and (min-width: 991px) {
  main, .map-container {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
  }
}

@media only screen and (min-width: 1200px) {
  main, .map-container {
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
  }
}


.hint {
    position: relative;
    display: inline-block
}


.hint:before,
.hint:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-transition-delay: 0;
    transition-delay: 0
}
.hint:hover:before,
.hint:hover:after,
.hint:focus:before,
.hint:focus:after {
    visibility: visible;
    opacity: 1
}
.hint:hover:before,
.hint:hover:after {
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms
}
.hint:before {
    content: '';
    position: absolute;
    background: 0 0;
    border: 6px solid transparent;
    z-index: 1000001
}
.hint:after {
    content: attr(data-hint);
    background: #383838;
    color: #fff;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap
}
.hint--top:before {
    border-top-color: #383838
}
.hint--top:before {
    margin-bottom: -12px
}
.hint--top:after {
    margin-left: -18px
}
.hint--top:before,
.hint--top:after {
    bottom: 100%
}
.hint--top:hover:after,
.hint--top:hover:before,
.hint--top:focus:after,
.hint--top:focus:before {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px)
}

.hint:after {
    text-shadow: 0 -1px 0 #000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .3)
}

.hint--info:after {
    background-color: #00bcd4;
    text-shadow: 0 -1px 0 #193b4d
}

.hint--rounded:after {
    border-radius: 4px
}

.hint--html.hint:after {
    display: none;
    opacity: 0
}
.hint__content {
    background: #383838;
    color: rgba(0, 0, 0, 0.870588);
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
}

.hint__content h3 {
  margin-bottom: 6px;
  font-size: 14px;
  margin-top: 6px;
  text-align: center;
  font-weight: 800;
}

.hint__content h4 {
  color: rgba(0, 0, 0, 0.541176);

  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 600;
}
.hint .hint__content {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-transition-delay: 0;
    transition-delay: 0
}
.hint:hover .hint__content,
.hint:focus .hint__content {
    visibility: visible;
    opacity: 1
}
.hint:hover .hint__content {
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms
}

.hint--top:before,
.hint--top:after {
    left: calc(50% - 6px)
}
.hint--top .hint__content {
    margin-left: -18px;
    bottom: 100%;
    left: calc(50% - 6px)
}
.hint--top .hint__content:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    height: 12px;
    width: 100%;
    opacity: 0;
    background-color: red
}
.hint--top:hover .hint__content,
.hint--top:focus .hint__content {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px)
}

.hint--info .hint__content {
    background-color: #fff
}
.hint--info.hint--top:before {
    border-top-color: #fff
}

.hint__up {
  background-color: green;
}

.hint__down {
  background-color: red;
}
