main {
  width: 100%;
}

.login--form {
  width: calc(100% - 40px);
  height: auto;
  min-height: 400px;
  max-width: 550px;
}

.login--form__brand {
  background-color: #ECEFF1;
  line-height: 80px;
  display: inline-block;
  vertical-align: middle;
  width: 100%
}

.login--form__brand h2 {
  margin: 0;
  top: 10px;
  padding: 16px;
  color: #4E342E;
  font-size: 35px;
}

.login--form__inputs {
  width: calc(100% - 40px);
}

@media only screen and (min-width: 550px) {
  main {
    width: 550px;
    margin-left: auto;
    margin-right: auto;

  }
}
