.md-divider--expand-from-right::after {
  margin-left: auto;
}

.md-divider--expand-from-right::after {
  margin-left: auto;
}

.md-select-field {
  cursor: inherit;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

.md-select-field .md-divider {
  width: 100%;
}

.md-select-field-menu--stretch .md-list {
  min-width: 100%;
}

.md-select-field--btn.md-select-field--btn {
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 16px;
  padding-top: 16px;
}

.md-drop-enter {
  transform: translate3d(0, -6px, 0);
}

.md-drop-enter.md-drop-enter-active {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

@media screen and (min-width: 320px) {
  .md-select-field--btn {
    height: 48px;
  }
  .md-select-field--text-field {
    height: 18px;
  }
}

@media screen and (min-width: 1025px) {
  .md-select-field--btn {
    height: 40px;
  }
  .md-select-field--text-field {
    height: 15px;
  }
}

.md-divider {
  background: rgba(0, 0, 0, 0.12);
  border: 0;
  content: '';
  display: block;
  height: 1px;
  margin: 0;
}

.md-divider--vertical {
  height: 100%;
  width: 1px;
}

.md-divider--inset {
  margin-left: 72px;
}

.md-divider-border {
  border-color: rgba(0, 0, 0, 0.12);
  border-style: solid;
  border-width: 0;
}

.md-divider-border--top {
  border-top-width: 1px;
}

.md-divider-border--right {
  border-right-width: 1px;
}

.md-divider-border--bottom {
  border-bottom-width: 1px;
}

.md-divider-border--left {
  border-left-width: 1px;
}

@media screen and (min-width: 320px) {
  .md-text-field-container--input-block {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .md-text-field-container--multiline-block {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .md-text-field-container--padded-block {
    padding-left: 20px;
    padding-right: 20px;
  }
  .md-text-field {
    font-size: 16px;
  }
  .md-text-field--floating-margin {
    margin-top: 37px;
  }
  .md-divider--text-field {
    margin-bottom: 8px;
  }
  .md-floating-label--inactive {
    transform: translate3d(0, 39px, 0);
  }
  .md-floating-label--inactive-sized {
    font-size: 16px;
  }
  .md-floating-label--floating {
    transform: translate3d(0, 16px, 0);
  }
  .md-text-field-icon {
    margin-bottom: 13.5px;
  }
  .md-text-field-inline-indicator {
    top: 9px;
  }
  .md-text-field-inline-indicator--floating {
    top: 34px;
  }
  .md-text-field-inline-indicator--block {
    top: 17px;
  }
  .md-floating-label--inactive-title {
    transform: translate3d(0, 42px, 0);
  }
}

@media screen and (min-width: 1025px) {
  .md-text-field-container--input-block {
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .md-text-field-container--multiline-block {
    margin-bottom: 16px;
    margin-top: 16px;
  }
  .md-text-field-container--padded-block {
    padding-left: 16px;
    padding-right: 16px;
  }
  .md-text-field {
    font-size: 13px;
  }
  .md-text-field--floating-margin {
    margin-top: 33px;
  }
  .md-divider--text-field {
    margin-bottom: 4px;
  }
  .md-floating-label--inactive {
    transform: translate3d(0, 33px, 0);
  }
  .md-floating-label--inactive-sized {
    font-size: 13px;
  }
  .md-floating-label--floating {
    transform: translate3d(0, 12px, 0);
  }
  .md-text-field-icon {
    margin-bottom: 7.5px;
  }
  .md-text-field-inline-indicator {
    top: 7px;
  }
  .md-text-field-inline-indicator--floating {
    top: 28px;
  }
  .md-text-field-inline-indicator--block {
    top: 10px;
  }
  .md-floating-label--inactive-title {
    transform: translate3d(0, 36px, 0);
  }
}

.md-text-field-container {
  position: relative;
}

.md-text-field-container :-moz-placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.md-text-field-container ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.md-text-field-container :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.md-text-field-container ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
}

.md-text-field-container :-moz-placeholder {
  opacity: 1;
}

.md-text-field-container ::-moz-placeholder {
  opacity: 1;
}

.md-text-field-container :-ms-input-placeholder {
  opacity: 1;
}

.md-text-field-container ::-webkit-input-placeholder {
  opacity: 1;
}

.md-text-field-container--input {
  line-height: 1;
}

.md-text-field-container--input-block {
  display: flex;
}

.md-text-field-container--input-block .md-text-field-message-container {
  flex-shrink: 0;
}

.md-text-field-multiline-container,
.md-text-field-container--multiline {
  transition-duration: 0.15s;
  transition-property: height;
}

.md-text-field-multiline-container {
  position: relative;
}

.md-text-field {
  background: none;
  border: 0;
  line-height: inherit;
  padding: 0;
  width: 100%;
}

.md-text-field:focus {
  outline: none;
}

.md-text-field:-webkit-autofill, .md-text-field:-webkit-autofill:focus {
  box-shadow: 0 0 0 50px #fff inset;
}

.md-text-field--margin {
  margin-top: 13px;
}

.md-text-field--multiline {
  padding-bottom: 0;
  padding-top: 0;
  resize: none;
}

.md-text-field--multiline-mask {
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  z-index: -1;
}

.md-divider--text-field {
  margin-top: 7px;
}

.md-divider--text-field::after {
  background: #3f51b5;
  content: '';
  display: block;
  height: 2px;
  transition-duration: 0.15s;
  transition-property: width;
  width: 0;
}

.md-divider--text-field-expanded::after {
  width: 100%;
}

.md-divider--text-field-error,
.md-divider--text-field-error::after {
  background: #f44336;
}

.md-divider--expand-from-left::after {
  left: 0;
}

.md-divider--expand-from-center::after {
  margin: auto;
}

.md-divider--expand-from-right::after {
  right: 0;
}

.md-floating-label {
  color: rgba(0, 0, 0, 0.54);
  cursor: text;
  line-height: 1;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition-duration: 0.15s;
  transition-property: transform, font-size, color;
  white-space: nowrap;
}

.md-floating-label--disabled {
  color: rgba(0, 0, 0, 0.38);
}

.md-floating-label--floating {
  font-size: 12px;
}

.md-floating-label--active {
  color: #3f51b5;
}

.md-floating-label--error {
  color: #f44336;
}

.md-floating-label--icon-offset {
  left: 40px;
}

.md-text-field-message-container {
  color: rgba(0, 0, 0, 0.38);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}

.md-text-field-message-container--error {
  color: #f44336;
}

.md-text-field-message-container--count-only {
  justify-content: flex-end;
}

.md-text-field-message-container--left-icon-offset {
  margin-left: 40px;
}

.md-text-field-message-container--right-icon-offset {
  margin-right: 40px;
}

.md-text-field-message {
  flex-grow: 1;
  transition-duration: 0.15s;
  transition-property: opacity;
}

.md-text-field-message--counter {
  display: block;
  flex-grow: initial;
  flex-shrink: 0;
  padding-left: 16px;
}

.md-text-field-message--inactive {
  opacity: 0;
}

.md-text-field-message--active {
  opacity: 1;
}

.md-text-field-divider-container {
  display: inline-block;
}

.md-text-field-divider-container--grow {
  display: block;
  flex-grow: 1;
}

.md-text-field-icon + .md-text-field-divider-container,
.md-text-field-divider-container + .md-text-field-icon {
  margin-left: 16px;
}

.md-text-field-icon--disabled {
  color: rgba(0, 0, 0, 0.38);
}

.md-text-field-icon--active {
  color: #3f51b5;
}

.md-text-field-icon--error {
  color: #f44336;
}

.md-text-field-icon-container {
  align-items: flex-end;
  display: flex;
  width: 100%;
}

.md-text-field-inline-indicator {
  position: absolute;
  right: 0;
}

.md-text-field--inline-indicator {
  width: calc(100% - 24px);
}

.md-password-btn {
  background: transparent;
  border: 0;
  color: rgba(0, 0, 0, 0.38);
  height: 24px;
  padding: 0;
  width: 24px;
}

.md-password-btn:not(.md-password-btn--focus):focus {
  outline: none;
}

.md-password-btn .md-icon {
  color: inherit;
}

.md-password-btn--active {
  color: rgba(0, 0, 0, 0.54);
}

.md-password-btn--active::before {
  background: rgba(0, 0, 0, 0.54);
}

.md-password-btn--invisible::before, .md-password-btn--invisible::after {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.md-password-btn--invisible::before {
  transform: translate3d(-1px, -50%, 0) rotate3d(0, 0, 1, 45deg);
}

.md-password-btn--invisible::after {
  background: #fafafa;
  transform: translate3d(1px, -50%, 0) rotate3d(0, 0, 1, 45deg);
}

.md-text-field--title {
  font-size: 34px;
}

.md-floating-label--title {
  transition-duration: 0.25s;
}

.md-floating-label--inactive-title {
  font-size: 34px;
}

html {
  background-color: #fff;
  font-size: 18.5px;
}

.app {
    overflow: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

main {
  width: 100%;
  margin-top: 58px;
  padding-top: 8px;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
}

.inline--inputs__1 {
  flex: 1
}

.inline--inputs__2 {
  flex: 2
}

.inline--inputs__full {
  width: 100%
}

.inline--inputs {
  display: block;
  /*min-height: 83px;*/
}
.tab-label {
  display: none
}

.map-container {
  position: absolute;
  height: calc(100% - 140px);
  width: 100%;

}

.news--container {

}

.header__title, .header__title:hover{
  text-decoration: none;
  color: #5d4037;
}

.news--landing h2 {
  font-size: 40px;
  padding-top: 10px;
  line-height: 1.04;
  margin: 0;
}

.news--landing img {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.news--landing h2 div {
  font-size: 16px;

  line-height: 1.5;
  color: #5D4037;
}

.news--landing__description {
  margin-top: 31px;
  font-size: 21px;
  line-height: 1.58;
}

.news--landing {

}

.login--form {
  width: calc(100% - 40px);
  height: auto;
  min-height: 400px;
  max-width: 550px;
}

.login--form__brand {
  background-color: #ECEFF1;
  line-height: 80px;
  display: inline-block;
  vertical-align: middle;
  width: 100%
}

.login--form__brand h2 {
  margin: 0;
  top: 10px;
  padding: 16px;
  color: #4E342E;
  font-size: 35px;
}

.login--form__inputs {
  width: calc(100% - 40px);
}

.md-cell {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 80px;
  margin-top: 10px;
}

.md-floating-label {
  font-size: 18.75px;
  left: 0px;
  top: 5px;
  font-weight: 400;
}

.md-floating-label--floating {
  transform: none;
}
.md-floating-label--inactive {
  transform: none;;
}

.md-floating-label {
  color: #5D4037;
}
.md-text--theme-primary, .md-floating-label--active {
  color: #6CC8C1;
}

.md-divider--text-field:after {
  background: #6CC8C1;
}

.md-icon-text {
  font-size: 20px;
}

.general--form__inputs {
  width: calc(100% - 40px);
}

.general--form__view {
  padding-left: 16px;
  padding-right: 16px;
}

.form--error {
  position: relative;
  margin-top: 15px;
  bottom: 15px;
  font-size: 16px;
  line-height: 16px;
  color: rgb(244, 67, 54);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.graphs__title {
  color: #5d4037;
  padding-left: 16px;
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.graphs__issues--value {
  font-size: 60px;
  text-align: center;
  color: #6CC8C1
}

.graphs {
  display: flex;
  flex-direction: column;
}

.graphs__upper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.graphs__upper__left {
  width: 100%;
}

.graphs__upper__right {
  width: 100%;
}

.graphs__lower {
  width: 100%;
}

@media only screen and (min-width: 400px) {
  .tab-label {
    display: inline;
  }

}

@media only screen and (min-width: 550px) {
  .authentication--container {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
  }
}

@media only screen and (min-width: 768px) {
  .inline--inputs {
    display: flex;
  }

  .md-cell {
    flex: 1;
  }
  .graphs__upper__left {
    width: 50%;
  }

  .graphs__upper__right {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  main, .map-container {
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
  }

  .md-cell {
    margin-top: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  main, .map-container {
    margin-left: auto;
    margin-right: auto;
    width: 1140px;
  }

}
