.md-display-4 {
  letter-spacing: -.1px;
}

.md-display-3 {
  letter-spacing: -.05px;
}

.md-display-2, h1, .md-display-1, h2, .md-headline {
  letter-spacing: 0;
}

h3, .md-title {
  letter-spacing: .5px;
}

h4, .md-subheading-2, h5, .md-subheading-1, p, .md-body-1, h6, .md-body-2 {
  letter-spacing: .1px;
}

caption, .md-caption {
  letter-spacing: .2px;
}

h1, .md-display-1,
.md-display-2,
.md-display-3,
.md-display-4,
h2,
.md-headline,
h3,
.md-title,
h5,
.md-subheading-1,
h4,
.md-subheading-2,
p,
.md-body-1,
h6,
.md-body-2,
caption,
.md-caption {
  margin: 0;
}

h1, .md-display-1,
.md-display-2,
.md-display-3,
.md-display-4,
h2,
.md-headline,
h3,
.md-title {
  margin-bottom: 14px;
}

h5, .md-subheading-1,
h4,
.md-subheading-2,
p,
.md-body-1,
h6,
.md-body-2,
caption,
.md-caption {
  margin-bottom: 10px;
}

.md-display-3,
.md-display-4,
h3,
.md-title {
  white-space: nowrap;
}

h1, .md-display-1,
.md-display-2,
.md-display-3,
h2,
.md-headline,
h5,
.md-subheading-1,
h4,
.md-subheading-2,
p,
.md-body-1,
caption,
.md-caption {
  font-weight: 400;
}

h3, .md-title,
h6,
.md-body-2 {
  font-weight: 500;
}

.md-display-4 {
  font-size: 112px;
  font-weight: 300;
  line-height: 128px;
}

.md-display-3 {
  font-size: 56px;
  line-height: 84px;
}

.md-display-2 {
  font-size: 45px;
  line-height: 48px;
}

h1, .md-display-1 {
  font-size: 34px;
  line-height: 40px;
}

h2, .md-headline {
  font-size: 24px;
  line-height: 32px;
}

h3, .md-title {
  font-size: 20px;
  line-height: 28px;
}

h4, .md-subheading-2 {
  line-height: 28px;
}

h5, .md-subheading-1 {
  line-height: 24px;
}

caption, .md-caption {
  font-size: 12px;
}

.md-text-left {
  text-align: left;
}

.md-text-center {
  text-align: center;
}

.md-text-right {
  text-align: right;
}

.md-text-justify {
  text-align: justify;
}

.md-text-capitalize {
  text-transform: capitalize;
}

.md-text-lowercalse {
  text-transform: lowercase;
}

.md-text-uppercase {
  text-transform: uppercase;
}

.md-text-nowrap {
  white-space: nowrap;
}

.md-text-no-select {
  user-select: none;
}

.md-font-light {
  font-weight: 300;
}

.md-font-regular {
  font-weight: 400;
}

.md-font-medium {
  font-weight: 500;
}

.md-font-bold {
  font-weight: 700;
}

.md-text-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.md-overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition-duration: 0.15s;
  transition-property: opacity;
  width: 100vw;
  z-index: 16;
}

.md-overlay--active {
  opacity: 1;
}

.md-paper--0 {
  box-shadow: none;
}

@media screen and (min-width: 1025px) {
  .md-paper--0-hover {
    transition-duration: 0.3s;
    transition-property: box-shadow;
  }
  .md-paper--0-hover:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
  }
}

.md-paper--1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.md-paper--2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.md-paper--3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
}

.md-paper--4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

.md-paper--5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 320px) {
  .md-subheading-2,
  .md-subheading-1 {
    font-size: 16px;
  }
  .md-body-2,
  .md-body-1 {
    font-size: 14px;
  }
  h5,
  h4 {
    font-size: 16px;
  }
  h6,
  p {
    font-size: 14px;
  }
}

@media screen and (min-width: 1025px) {
  .md-subheading-2,
  .md-subheading-1 {
    font-size: 15px;
  }
  .md-body-2,
  .md-body-1 {
    font-size: 13px;
  }
  h5,
  h4 {
    font-size: 15px;
  }
  h6,
  p {
    font-size: 13px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.42857;
}

html {
  background: #fafafa;
  font-size: 14px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h2, .md-headline,
h3,
.md-title,
h4,
.md-subheading-2,
h5,
.md-subheading-1,
h6,
.md-body-2,
p,
.md-body-1 {
  color: rgba(0, 0, 0, 0.87);
}

.md-display-4,
.md-display-3,
.md-display-2,
h1,
.md-display-1,
caption,
.md-caption {
  color: rgba(0, 0, 0, 0.54);
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea,
html {
  font-family: "Roboto", sans-serif;
}

.md-text-container {
  max-width: 640px;
  width: 100%;
}

.md-text-container.md-text-container.md-cell {
  margin-left: auto;
  margin-right: auto;
}

.md-fake-btn {
  background: transparent;
  position: relative;
}

.md-fake-btn:focus {
  outline: none;
}

.md-no-scroll {
  overflow-y: scroll;
  position: fixed;
}

.md-pointer--hover:hover {
  cursor: pointer;
}

.md-pointer--none {
  pointer-events: none;
}

.md-content-jump {
  left: -1000px;
  position: absolute;
  top: -1000px;
}

.md-content-jump:active, .md-content-jump:focus {
  left: 0;
  top: 0;
}

.md-icon {
  color: rgba(0, 0, 0, 0.54);
  font-size: 24px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: color;
  user-select: none;
}

.md-icon--disabled {
  color: rgba(0, 0, 0, 0.26);
}

.md-icon--inherit {
  color: inherit;
}

.md-icon-separator {
  align-items: center;
  display: flex;
  font-weight: inherit;
  text-align: left;
}

.md-icon-separator .md-icon {
  flex-grow: 0;
  flex-shrink: 0;
}

.md-icon-text {
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: inherit;
  line-height: inherit;
}

.md-icon-text:first-child {
  padding-right: 16px;
}

.md-icon-text:last-child {
  padding-left: 16px;
}
