<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#6CC8C1">
    <link rel="manifest" href="/manifest.json">
    <title>CoffeeT</title>
  </head>
  <body>
    <div id="root"></div>
    <script>
    </script>
  </body>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</html>
